<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>House Price GPS</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/img/favicon.ico" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"> -->

  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/venobox/venobox.css" rel="stylesheet">
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/css/style.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="style.css"> -->

  <!-- Mapbox Files -->
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.js'></script>
  <script type="text/javascript" src="/js/responsive-switch.js">

  </script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.css' rel='stylesheet' />
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="/">HP<span>GPS</span></a></h1>
        <!-- <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" title=""></a> -->
      </div>
      <span id="welcome"><%= `Welcome ${user.local.username}!` %></span>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
          <li><a href="#about">Favorites</a></li>
          <li><a href="#footer">Contact</a></li>
          <li><a href="/logout">Logout</a></li>
          <li class="buy-tickets"><a href="https://www.google.com/maps" target="_blank">Plan Trip</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="house">
    <div class="savedHouse-container wow fadeIn">


      <!-- <div class="container"> -->
      <div class="section-header">
        <h2>This House</h2>
        <!-- <p>Your House</p> -->
        <a href="#" class="rs-link responsive-switch" data-link-desktop="Switch to desktop version" data-link-responsive="Switch to responsive / mobile version"></a>
      </div>
      <!-- <ul> -->



        <% for(var i=0; i<savedHouses.length; i++) {%>
        <section class="streetViewANDInfoSecs clearfix">
          <section class="houseStreetViewSec">
            <h2>Explore Street View</h2>
            <a class="embedly-card" data-card-controls="0" data-card-theme="dark"
            href="https://www.instantstreetview.com/@<%= savedHouses[i].latitude %>,<%= savedHouses[i].longitude %>,229.42h,-0.58p,0.13z">...LOADING......LOADING......LOADING......LOADING......LOADING...</a>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
          </section>

          <section class="houseInfoSec">
            <h2>Detailed Property Info</h2>
            <span><%= savedHouses[i].starred %></span>
            <ul>
              <li>Address: <%= savedHouses[i].rawAddress %></li>
              <li>PRICE: <%= savedHouses[i].price %></li>
              <li>Coordinates: <%= savedHouses[i].latitude %>, <%= savedHouses[i].longitude %></li>
              <li>Year Built: <%= savedHouses[i].yearBuilt %></li>
              <li>Purpose: <%= savedHouses[i].purpose %></li>
              <li>Furnished ft^2: <%= savedHouses[i].liveSqFt %></li>
              <li>Entire Lot ft^2: <%= savedHouses[i].lotSqFt %></li>
              <li>Bedrooms: <%= savedHouses[i].bedRoom %></li>
              <li>Bathrooms: <%= savedHouses[i].bathRoom %></li>
              <li>Total Rooms: <%= savedHouses[i].totalRoom %></li>
              <li>Last Sold: $<%= savedHouses[i].soldPrice %>, Year: <%= savedHouses[i].soldDate %></li>
              <li>Zip: <%= savedHouses[i].zip %></li>
            </ul>
          </section>
        </section>


        <section class="houseLinkSec">
          <h2>Links For Research</h2>
          <ul>

            <li>Research Neighborhood:<br> <a href="http://www.city-data.com/indexes/neighborhoods/" target="_blank">City-Data.Com Neighborhood Facts</a>
            </li><br>
              <li>Comparables:<br> <a href="<%= savedHouses[i].comps %>" target="_blank">Prices of Similar Homes Recently Sold</a>
              </li><br>
              <li>Neighborhood Value Analysis:<br> <a href="<%= savedHouses[i].neighValue %>" target="_blank">Housing Market In The Neighborhood</a>
              </li><br>
              <li>Zillow Propery Page:<br> <a href="<%= savedHouses[i].moreInfo %>" target="_blank">Property Listing Page From Zillow.Com</a>
              </li><br>

          </ul>
        </section>

        <section class="houseAARPImgSec">
          <h2>Livability Index</h2>
          <br><br>
          <a href="https://livabilityindex.aarp.org/search#<%= savedHouses[i].zip %>" target="_blank">
          <img src="/img/aarpScore.png" alt="AARP Livability Index"><h4>Click to Check</h4><p> (Provided by AARP)</p>
          </a>
        </section>


        <% } %>
        <!-- let yearBuilt, purpose, liveSqFt, lotSqFt, bedRoom, bathRoom, totalRoom, soldDate, soldPrice, comps, neighValue, moreInfo -->
      <!-- </ul> -->

      <!-- </div> -->
    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <!-- <h3><span class="fa fa-question"></span> Where</h3>
            <p id="rawAddress"> </p> -->
          </div>
          <div class="col-lg-4">
            <a href="javascript:history.back()"><h3><span class="fa fa-arrow-left"></span> Back to Favorites</h3></a>
            <p id="zestimate"> </p>
          </div>
          <div class="col-lg-4">
            <!-- <h3 id="pinkh3">: Search Results</h3>
            <p id="findMeStatus"></p> -->
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Favorites Section
    ============================-->


    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6 footer-info">
              <h2><a href="#main">House Price GPS</a></h2>
              <!-- <img src="img/logo.png" alt="TheEvenet"> -->
              <p>House Price GPS is a tool to check local house prices on-the-go. It uses your GPS location to find the closest house and will return an estimated price. The idea for the app sprung up when the app's creator was driving on roadtrips and
                was wondering if there would be a convenient way for his passengers to determine the real estate market of neighborhoods they drove by. Please enjoy responsibly.</p>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links more-links">
              <h4>More Links</h4>
              <ul>
                <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Me</h4>
              <p>
                50 Milk St <br>
                Boston, MA 02109<br>
                United States <br>
                <strong>Phone:</strong> +1 781 627 5157<br>
                <strong>Email:</strong> contact@house-gps.com<br>
              </p>

              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/superfish/hoverIntent.js"></script>
    <script src="/lib/superfish/superfish.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/venobox/venobox.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <!-- <script src="contactform/contactform.js"></script> -->

    <!-- Template Main Javascript File -->
    <script src="/js/main.js"></script>
    <!-- Non-Bootstrap JS -->
    <script type="text/javascript" src="/main.js"></script>
</body>

</html>
