<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>House Price GPS</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.ico" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"> -->

  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="style.css"> -->

  <!-- Mapbox Files -->
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.css' rel='stylesheet' />


  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="/">HP<span>GPS</span></a></h1>
        <!-- <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" title=""></a> -->
      </div>
      <span id="welcome"><%= `Welcome ${user.local.username}!` %></span>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
          <li><a href="#about">Results</a></li>
          <li><a href="#favorites">Favorites</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#footer">Contact</a></li>
          <li><a href="/logout">Logout</a></li>
          <li class="buy-tickets"><a href="/demo">Demo Mode</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <section id="mapContainer">
        <!-- <img id="tempImg" src="img/stillmap.png" alt=""> -->
        <div id='map'></div>
      </section>

      <h6 class="searchStatusMap"></h6>

      <section>
        <button class="about-btn api-btn" id="findLatLongAddress"><span class="fa fa-user"></span> Find Nearest House</button>
        <button class="about-btn api-btn" id="getZestimate"><span class="fa fa-dollar"></span> Get House Price</button>
        <button class="about-btn api-btn" id="saveHouse"><span class="fa fa-arrow-down"></span> Save House</button>
      </section>

    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h3 id="where"><span class="fa fa-question"></span> Where</h3>
            <h6 id="rawAddress"> </h6>
            <!-- <p>Downtown Conference Center, New York</p> -->
          </div>
          <div class="col-lg-4">
            <h3 id="price"><span class="fa fa-tag"></span> Price</h3>
            <h6 id="zestimate"> </h6>
            <!-- <p>Monday to Wednesday<br>10-12 December</p> -->
          </div>
          <div class="col-lg-4">
            <h3 id="searchResults">: Search Results</h3>
            <h6 id="findMeStatus"></h6>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Favorites Section
    ============================-->
    <section id="favorites" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2><%= `${user.local.username}'s` %><br>Favorite's List</h2>
        </div>
        <span>Your Saved Houses (Star Your Favorites!)</span>
        <ol>
          <% for(var i=0; i<savedHouses.length; i++) {%>
          <li>
            <h4>
              <!-- <span><span class="fa fa-star"></span></span> -->
              <!-- <span><%= savedHouses[i].starred %></span> -->
              <span><%= savedHouses[i].rawAddress %></span>
              <a class="pulsate" href="/savedHouses/<%= savedHouses[i]._id %>">Link</a>
              <span><span class="fa fa-minus-square"></span></span>
            </h4>
            <h4>PRICE <%= savedHouses[i].price %></h4>
          </li>
          <% } %>
        </ol>
      </div>

    </section>


    <!--==========================
      F.A.Q Section
    ============================-->
    <section id="faq" class="wow fadeInUp grayFaq">

      <div class="container">

        <div class="section-header">
          <h2>F.A.Q </h2>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-9">
            <ul id="faq-list">

              <li>
                <a data-toggle="collapse" class="collapsed" href="#faq1">How do I use this app? <i class="fa fa-minus-circle"></i></a>
                <div id="faq1" class="collapse" data-parent="#faq-list">
                  <p>
                    1. "Signup" for an account<br>
                    2. Click "Find Nearest House"<br>
                    3. Click "Get House Price"<br>
                    4. Click "Save House"<br>
                    5. Scroll down to the data<br>
                    6. Click "Link" for one of your FAVORITE houses and get Interactive StreetView Images, Neighborhood surveys, and much more housing data.<br>
                    7. Login to use again.<br>
                    8. Enjoy~!
                  </p>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" href="#faq2" class="collapsed">I'm in a office building and am not able to get house prices? <i class="fa fa-minus-circle"></i></a>
                <div id="faq2" class="collapse" data-parent="#faq-list">
                  <p>
                    Try out "Demo Mode" from the menu drop-down to use preset address buttons to see how using it in the wild is like.
                  </p>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" href="#faq3" class="collapsed">I found a great deal! Can I buy this house today? <i class="fa fa-minus-circle"></i></a>
                <div id="faq3" class="collapse" data-parent="#faq-list">
                  <p>
                    Sounds like an excellent start! Please research the specific house, loan details, and your finances before moving forward in your search for a house to call your own. To get you started with learning more about your dream house, links are provided in the House Details pages (see FAQ Q1, step 6). Prices shown are estimates only; not all houses listed are for sale. Best of luck in your search! (Me too!)
                  </p>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" href="#faq4" class="collapsed">Can I input a custom address for a house to find out its price? <i class="fa fa-minus-circle"></i></a>
                <div id="faq4" class="collapse" data-parent="#faq-list">
                  <p>
                    Inputting custom addresses is a feature that did not make it into this development cycle. Send a text to the developer at 781.627.5157 to show your interest for this possible future feature.
                  </p>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" href="#faq5" class="collapsed">I have a suggestion for the next version of House Price GPS. What can I do?  <i class="fa fa-minus-circle"></i></a>
                <div id="faq5" class="collapse" data-parent="#faq-list">
                  <p>
                    I appreciate any feedback to learn and grow as a software engineer. Send me a text at 781.627.5157 and we can connect.
                  </p>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" href="#faq6" class="collapsed">I'd like to hire you. <i class="fa fa-minus-circle"></i></a>
                <div id="faq6" class="collapse" data-parent="#faq-list">
                  <p>
                    Woaah! I appreciate that. Speak with me in person, text me at 781.627.5157, or message me on LinkedIn. Let's talk :) ￼
                  </p>
                </div>
              </li>

            </ul>
          </div>
        </div>

      </div>

    </section>
  </main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h2><a href="#main">House Price GPS</a></h2>
            <!-- <img src="img/logo.png" alt="TheEvenet"> -->
            <p>House Price GPS is a tool to check local house prices on-the-go. It uses your GPS location to find the closest house and will return an estimated price. The idea for the app sprung up when the app's creator was driving on roadtrips and
              was wondering if there would be a convenient way for his passengers to determine the real estate market of neighborhoods they drove by. Please enjoy responsibly.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links more-links">
            <h4>More Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Me</h4>
            <p>
              50 Milk St <br>
              Boston, MA 02109<br>
              United States <br>
              <strong>Phone:</strong> +1 781 627 5157<br>
              <strong>Email:</strong> contact@house-gps.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <!-- <script src="contactform/contactform.js"></script> -->

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
  <!-- Non-Bootstrap JS -->
  <script type="text/javascript" src="main.js">

  </script>
</body>

</html>
